@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    font-family: 'Open Sans';
    font-weight: 600;
}

.login-container {
    width: 50%;
}

.form-title {
    font-weight: 700;
}

#form-button {
    background-color: rgb(16, 16, 16);
    color: white;
}

#form-button:hover {
    background-color: rgb(35, 34, 34);
    transition: 0.4s;
}